.p-card{
    height:max-content;
    max-width:38rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.15);
    padding:3rem;
    background:#fff;
    margin: 3rem;
}
.p-card img{
    height:6rem;
    width:6rem;
}
.p-card h2{
    padding:1rem 0;
    font-size:var(--font-md);
    font-family:var(--primary-font);
    color:var(--dark-h);
}
.p-card p{
    font-size:var(--font-sm);
    font-family:var(--secondary-font);
    color:var(--dark-l);
}
@media screen and (max-width:425px){
    .p-card{
        padding:2rem;
        margin: 1rem;
        margin-top: 3rem;
    }
}