.nav{
    height:8rem;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
.nav-logo h1{
    font-family: var(--primary-font);
    font-size: 2.3rem;
    text-transform: uppercase;
    color:#C6CDF7;
}
.nav-items{
    display:flex;
    font-size:var(--font-sm);
}
.nav-item:not(:last-child){
    margin-right: 2rem;
}
.nav-items .nav-item{
    font-family: var(--primary-font), sans-serif;
    font-weight: 400;
    color:#fff;
}
.nav-items .nav-item:hover{
    color:#52cbf2;
    cursor:pointer;
}

@media screen and (max-width:900px){
    .nav{
        height:100%;
        padding:2rem 0;
    }
    .nav-items{
        display:none;
    }
}