.hero-wrapper{
    background:linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,.3)), url("../../../assets/truck.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom:10rem;
}
.hero{
    width:94%;
    max-width: 1400px;
}
.hero-content-wrapper{
    width:100%;
    max-width:50rem;
    padding-bottom: 5rem;
    padding-top: 10rem;
}
.hero-content h1{
    font-size:var(--font-lg-x);
    color:#eee;
    font-family: "Roboto", sans-serif;
    padding-bottom:1rem;
    line-height:7rem;
}
.hero-content p{
    font-size:var(--font-sm);
    color:#eee;
    font-weight:300;
    font-family: "Roboto", sans-serif;
    line-height: 3rem;
    padding-top:1rem;
}
.hero-btn-wrapper{
    padding:3rem 0;
}
.hero-btn{
    display:flex;
    height:6rem;
    padding:.8rem;
    border-radius:4px;
    background:#eee;
    cursor:pointer;
}
.hero-btn-input{
    flex:1;
    height:100%;
    background:#fff;
    display:flex;
    overflow:hidden;
    border: 1px solid #aaa;
    border-radius:4px ;
}
.hero-btn-input input{
    width:100%;
    border:none;
    background:#fff;
    outline:none;
    font-size: var(--font-sm);
    color:#222;
    padding-right:5px;
    text-overflow: ellipsis;
}
.hero-btn-input input:focus{
    outline:none;
}
.hero-btn-search{
    display:grid;
    place-items:center;
    padding:5px;
    color:#aaa;
}
.hero-btn-action{
    font-size: 1.6rem;
    height:100%;
    width:12rem;
    display:grid;
    place-items:center;
    border-radius:4px;
    background:#1654CC;
    margin-left:.5rem;
    color:#ddd;
    font-family:var(--secondary-font), sans-serif;
}

.hero-sub{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    padding:1rem 0;
}
.hero-sub-text{
    display:flex;
}
.hero-sub-text h1{
    font-size: var(--font-lg);
    font-family: var(--primary-font), "sans-serif";
    color:#eee;
    margin-right:2rem;
}
.hero-sub-text p{
    font-size: var(--font-sm);
    color:#eee;
    font-family: var(--secondary-font), "sans-serif";
    font-weight:400;
}

@media screen and (max-width:900px){
    .hero-content h1{
        font-size:calc(var(--font-lg) + .5rem);
        line-height:5rem;
    }    
}
@media screen and (max-width:425px){
    .hero-sub-text:first-child{
        padding-right: 1rem;
    }
    .hero-sub-text{
        flex-direction: column;
    }
    .hero-sub-text p br{
        display:none;
    }
    .hero-sub-text h1{
        margin-right:0;
    }
}

/* Tracking */
.trackeroutput-wrapper{
    width:100%;
    height:100%;
    display:none;
    justify-content: center;
    background:#fff;
    overflow:overlay;
    position: fixed;
    z-index: 9999;
    padding: 4rem 1rem;
}
.trackeroutput-wrapper.show{
    display:flex;
}
.trackeroutput{
    height: max-content;
    width:94%;
    max-width: 65rem;
    background:#1654CC;
    border-radius: 1rem;
    padding:2rem;
    overflow:auto;
    position:relative;
}

/* width */
.trackeroutput::-webkit-scrollbar{
    width:5px;
}
/* Track */
.trackeroutput::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: #f1f1f1;
}
  
/* Handle */
.trackeroutput::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #888;
}  
/* Handle on hover */
.trackeroutput::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* R card */
.r-card{
    width:100%;
    border-radius: 6px;
    background:#fff;
}
.r-card h1{
    text-align: center;
    font-family: var(--primary-font);
    padding-top:1rem;
    color:var(--dark-h);
}
.r-card-content{
    font-size:1.6rem;
    font-family: var(--secondary-font);
    padding:1rem;
}
.r-card-content-row{
    display:flex;
    padding:1.5rem;
}
.r-card-content-row{
    border-bottom:1px solid #ccc;
}
.r-card-content-row{
    padding-bottom: 5px;
}
.r-card-content-row span{
    color:#727272;
    font-size:2.8rem;
}
.r-card-content-row-text{
    padding-left:1.5rem;
    color:var(--dark-h);
    display:flex;
    word-break: break-word;
    align-items: center;
}
.no-shipment-progress{
    margin-top:1rem;
    text-align: center;
    background:#fff;
    font-family:var(--primary-font);
    color:var(--dark-h);
}
/* S card  */
.s-card{
    width:100%;
    border-radius: 6px;
    background:#fff;
    margin:0 auto;
    margin-top:2rem;
}
.s-card h1{
    text-align: center;
    font-family: var(--primary-font);
    padding-top:1rem;
}
.s-card-content{
    font-size:1.6rem;
    font-family: var(--secondary-font);
    padding:1rem;
}
.s-card-content-row{
    display:flex;
    padding:1.5rem;
}
.s-card-content-row{
    border-bottom:1px solid #ccc;
}
.s-card-content-row{
    padding-bottom: 5px;
}
.s-card-content-row span{
    color:#727272;
    font-size:2.8rem;
}
.s-card-content-row-text{
    padding-left:1.5rem;
    color:var(--dark-h);
    display:flex;
    word-break: break-word;
    align-items: center;
}

.trackeroutput-close{
    padding:1rem;
    border-radius: 50%;
    background:#1654CC;
    display:inline-block;
    position:absolute;
    right:5%;
    top:0%;
    cursor:pointer;
}
.trackeroutput-close span{
    color:#fff;
}

/* Card Track */

.card-wrapper{
    display:flex;
}
.card-track-wrapper{
    position:relative;
}
.card-track-wrapper img{
    position:absolute;
    top:10%;
    height:16px;
}
.card-track{
    width:2rem;
    background:#fff;
    height:100%;
    clip-path: polygon(25% 0, 55% 0, 55% 40%, 100% 40%, 100% 42%, 55% 42%, 55% 100%, 25% 100%);
}
.no-shipment-progress-r{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}